* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  user-select: none;
}

h1,
h1,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  color: inherit;
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

input {
  background: transparent;
  border: none;
  outline: none;
}
